:root
{
	--clear-color: #050814;
	--text-color: #ebeefa;
}

body
{
	margin: 0;
	padding: 0;
	background-color: var(--clear-color);
	color: var(--text-color);
}

.hidden
{
	display: none;
}

main
{
	width: 80vw;
	margin: 0 10vw;
}

.framewindow
{
	aspect-ratio: 16/9;
	position: relative;
	width: 100%;
	display: block;
	border: solid 1px var(--text-color);
	border-radius: 0.25rem;
}

h1{
	text-align: center;
}
/* .par
{
	aspect-ratio: 2/1;
	text-align: center;
	width: 50vw;
}
.par>p
{
	text-align: left;
}
.par:nth-child(even)
{
	float:left;
}
.par:nth-child(odd)
{
	float:right;
} */